<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.bcpv"/>

    <!-- Add new DAOs here -->
    <bean id="medicionDao" class="war.webapp.dao.hibernate.MedicionDaoHibernate" />
    <bean id="tipoDiabetesDao" class="war.webapp.dao.hibernate.TipoDiabetesDaoHibernate"/>
    <bean id="alimentoDao" class="war.webapp.dao.hibernate.AlimentoDaoHibernate"/>
    
    <bean id="pacienteDao" class="war.webapp.dao.hibernate.PacienteDaoHibernate"/>
    <bean id="endocrinologoDao" class="war.webapp.dao.hibernate.EndocrinologoDaoHibernate"/>
    <bean id="especialistaDao" class="war.webapp.dao.hibernate.EspecialistaDaoHibernate"/>
    
    <bean id="provinciaDao" class="war.webapp.dao.hibernate.ProvinciaDaoHibernate"/>
    <bean id="localidadDao" class="war.webapp.dao.hibernate.LocalidadDaoHibernate"/>
    <bean id="sintomaDao" class="war.webapp.dao.hibernate.SintomaDaoHibernate"/>
    
    <bean id="medicamentoDao" class="war.webapp.dao.hibernate.MedicamentoDaoHibernate"/>
    <bean id="domicilioDao" class="war.webapp.dao.hibernate.DomicilioDaoHibernate"/>
    
    <bean id="pesoDao" class="war.webapp.dao.hibernate.PesoDaoHibernate"/>
    
    <bean id="tratamientoDao" class="war.webapp.dao.hibernate.TratamientoDaoHibernate"/>
    <bean id="comidaDao" class="war.webapp.dao.hibernate.ComidaDaoHibernate"/>
    <bean id="momentoDiaDao" class="war.webapp.dao.hibernate.MomentoDiaDaoHibernate"/>
    <bean id="diaDietaDao" class="war.webapp.dao.hibernate.DiaDietaDaoHibernate"/>
    <bean id="dietaDao" class="war.webapp.dao.hibernate.DietaDaoHibernate"/>
    
    <!-- Add new Managers here -->
    <bean id="medicionManager" class="war.webapp.service.impl.MedicionManagerImpl">
    	<property name="medicionDao" ref="medicionDao"/>
    </bean>
    <bean id="tipoDiabetesManager" class="war.webapp.service.impl.TipoDiabetesManagerImpl">
    	<property name="tipoDiabetesDao" ref="tipoDiabetesDao"/>
    </bean>
    <bean id="alimentoManager" class="war.webapp.service.impl.AlimentoManagerImpl">
        <property name="alimentoDao" ref = "alimentoDao"/>
    </bean>
    
    <bean id="pacienteManager" class="war.webapp.service.impl.PacienteManagerImpl">
   		<property name="pacientesDao" ref="pacienteDao"/>
    </bean>
    <bean id="especialistaManager" class="war.webapp.service.impl.EspecialistaManagerImpl">
    	<property name="especialistaDao" ref="especialistaDao"/>
    </bean>
    <bean id="endocrinologoManager" class="war.webapp.service.impl.EndocrinologoManagerImpl">
    	<property name="endocrinologoDao" ref="endocrinologoDao"/>
    </bean>
    <bean id="sintomaManager" class="war.webapp.service.impl.SintomaManagerImpl">
        <property name="sintomaDao" ref="sintomaDao"/>
    </bean>
    
    <bean id="provinciaManager" class="war.webapp.service.impl.ProvinciaManagerImpl">
   		<property name="provinciaDao" ref="provinciaDao"/>
    </bean>
    <bean id="localidadManager" class="war.webapp.service.impl.LocalidadManagerImpl">
   		<property name="localidadDao" ref="localidadDao"/>
    </bean>
    
    <bean id="medicamentoManager" class="war.webapp.service.impl.MedicamentoManagerImpl">
        <property name="medicamentoDao" ref="medicamentoDao"/>
    </bean>
    
    <bean id="domicilioManager" class="war.webapp.service.impl.DomicilioManagerImpl">
        <property name="domicilioDao" ref= "domicilioDao"/>
    </bean>
    <bean id="pesoManager" class="war.webapp.service.impl.PesoManagerImpl">
        <property name="pesoDao" ref="pesoDao"/>
    </bean>
    <bean id="tratamientoManager" class="war.webapp.service.impl.TratamientoManagerImpl">
        <property name="tratamientoDao" ref="tratamientoDao"/>
    </bean>
    <bean id="comidaManager" class="war.webapp.service.impl.ComidaManagerImpl">
        <property name="comidaDao" ref="comidaDao"/>
    </bean>
    <bean id="momentoDiaManager" class="war.webapp.service.impl.MomentoDiaManagerImpl">
        <property name="momentoDiaDao" ref="momentoDiaDao"/>
    </bean>
    <bean id="diaDietaManager" class="war.webapp.service.impl.DiaDietaManagerImpl">
        <property name="diaDietaDao" ref= "diaDietaDao"/>
    </bean>
    <bean id="dietaManager" class="war.webapp.service.impl.DietaManagerImpl">
        <property name="dietaDao" ref="dietaDao"/>
    </bean>
    <!-- Configure and Alternative PasswordTokenManager -->
	<!-- <bean id="passwordTokenManager" class="org.appfuse.service.impl.PersistentPasswordTokenManagerImpl" autowire="default" /> -->
</beans>