<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.bcpv.model.User"/>
        <mapping class="com.bcpv.model.Role"/>
        <mapping class="com.bcpv.model.Medicion"/>
        <mapping class="com.bcpv.model.Alimento"/>
        <mapping class="com.bcpv.model.Sintoma"/>
        <mapping class="com.bcpv.model.Provincia"/>
        <mapping class="com.bcpv.model.Departamento"/>
        <mapping class="com.bcpv.model.Localidad"/>
        <mapping class="com.bcpv.model.Endocrinologo"/>
        <mapping class="com.bcpv.model.Especialista"/>
        <mapping class="com.bcpv.model.TipoDiabetes"/>
        <mapping class="com.bcpv.model.Medicamento"/>
        <mapping class="com.bcpv.model.Paciente"/>
        <mapping class="com.bcpv.model.Domicilio"/>
        <mapping class="com.bcpv.model.Peso"/>
        <mapping class="com.bcpv.model.Tratamiento"/>
        <mapping class="com.bcpv.model.Comida"/>
        <mapping class="com.bcpv.model.MomentoDia"/>
        <mapping class="com.bcpv.model.DiaDieta"/>
        <mapping class="com.bcpv.model.Dieta"/>
        <mapping class="com.bcpv.model.RegistroComidas"/>
        <mapping class="com.bcpv.model.RegistroSintoma"/>
        <mapping class="com.bcpv.model.RegistroMedicamento"/>
    </session-factory>
</hibernate-configuration>